body {
    background-color: white;

}

.brand-logo {
    height: 300px;
    width: 400px;
}

.nav-wrapper {
    margin-bottom: 5rem;
}

.address {
    font-family: 'Orelega One', cursive;
    font-size: 18px;
    color: black;
}

.links {
    font-family: 'Orelega One', cursive;
    font-size: 36px;
    color: black;
}

.feed {
    margin-top: 5rem;
    font-family: 'Orelega One', cursive;
}

.philo {
    height: 400px;
    width: 400px;
    float: right;
}

.location {
    margin-top: 5rem;
    margin-left: 36%;
    font-family: 'Orelega One', cursive;
    font-size: 24px;
}

.contact {
    margin-top: 5rem;
    font-family: 'Orelega One', cursive;
}


