body {
    background-color: white;

}

.brand-logo {
    height: 400px;
    width: 500px;
}

.nav-container {
   
}

.address {
    font-family: 'Orelega One', cursive;
    font-size: 18px;
    color: black;
}

.links {
    font-family: 'Orelega One', cursive;
    font-size: 36px;
    color: black;
}

/* #home {
    padding-right: 5rem;
}

#about {

}

#contact {
    padding-left: 5rem;
} */

.feed {
    margin-top: 5rem;
    font-family: 'Orelega One', cursive;
}

.philo {
    height: 400px;
    width: 400px;
    float: right;
}

.location {
    margin-top: 5rem;
    margin-left: 36%;
    font-family: 'Orelega One', cursive;
    font-size: 24px;
}

.contact {
    margin-top: 5rem;
    font-family: 'Orelega One', cursive;
}




