body {
    background-color: white;

}

.nav-wrapper {
    margin-bottom: 5rem;
}
.links {
    font-family: 'Orelega One', cursive;
    font-size: 36px;
    color: black;
}

.feed {
    margin-top: 5rem;
    font-family: 'Orelega One', cursive;
}

.about {
    margin-top: 5rem;
    margin-left: 36%;
    font-family: 'Orelega One', cursive;
    font-size: 24px;
}

.contact {
    margin-top: 5rem;
    font-family: 'Orelega One', cursive;
}


